{{> Header }}

    <!-- Big picture with text -->
    <div class="big-picture">
        <img src="/images/goblin.jpg" alt="Film Goblin" height="600" width="600">
        
        <h2>Track your friends favorite movies!</h2>
    </div>

{{> Footer }}
